.skeleton-loader{
    --skeleton-width: 100%;
    --skeleton-height: 100%;

    width: var(--skeleton-width);
    height: var(--skeleton-height);
    border-radius: var(--border-radius);
    background: #e1e1e1 linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(248, 241, 236, 0.5) 50%,
            rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}
